<div class="jumbotron center">
    <h1>Welcome to Pik! </h1>
    <h2>Ready to learn?</h2>
    <p><%= link_to "Sign up for full access", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div> 

 <div class="row">
    <div class="col-lg-4">
    <h2>Chat in Real Time</h2>
        <p>Get the answers you need to specific questions immediately! Pik offers a vibrant community of photographers interacting in real time to offer the best mentoring and advice immediately. Sign up to start! </p>
     </div>
    <div class="col-lg-4">
        <h2>Perfect Themes</h2>
         <p> 'Themes' are the name for your greatest Photography resource! Every image is stored with a step-by-step Theme, which lists how to achieve the image. No other site offers this all-in-one Photography aid.</p>
     </div>
    <div class="col-lg-4">
         <h2>Comment, Like, Share</h2>
         <p>When you sign up, you'll have immediate access to our library of 'Themes'. Search by name, equipment used, or photographer. Find your ideal 'Themes', then comment, like and share!</p>
    </div>
</div>
